<!-- extend of base.html -->
{% extends "base.html" %}   
{% block title %}Login{%endblock%}
{% block content %}
<!-- form: user_input -->
<div class="center">
    <div class="form-container">
        <form class="form" method="POST"> 
            <h3 align="center">Вхід</h3>
            <div class="form-group">
                <label for='email'>Електронна пошта</label>
                <input type="text" id="email" name="email" class="form-control" placeholder="Введіть електронну пошту">
                <label for='password'>Пароль</label>
                <input type="password" id="password" name="password" class="form-control" placeholder="Введіть пароль">
            </div>
            <div align="center">
                <button class="btn btn-primary" type="submit">Вхід</button>
            </div>
        </form>
    </div>
</div>
{%endblock%}


